@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0%;
}

html{
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color: #00002B; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a:hover {
    background-color: #0160b8;
}

.service-buttons button:hover{
    background-color: #0160b8;
}

a{
    text-decoration: none;
    padding: 7px;


}

h2{
    margin-top: 0%;
    line-height: 300%;

}

header {
    background-color: #ffffff;
    padding: 90px 40px 20px;
    text-align: center;
    
}

.responsive-image {
    width: 80%;  
    height: auto;
    max-width: 700px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

section {
    padding: 120px 40px;
    min-height: calc(100vh - 60px);
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    
}
#about{
    padding: 34px 20px;

}

#services{
    padding: 34px 20px;
    background-color: #ffffff;
    color: #000000;
}

#SaibaMais{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
 }

 .video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 100%;
    overflow: hidden;
    width: 150%;
    max-width: 800px; 
    margin: 0 auto; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

 #videoWrapper {
     margin-top:30px 
 }

section#about .image img {
    border-radius: 2%; 
}

.section {
    padding: 20px;
}

.section h2 {
    margin-top: 0;
}


footer {
    background-color: #00002B;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    
}

footer ul {
    list-style-type: none;
    padding: 0;
    
}

footer li {
    margin-bottom: 10px;
}
img {
    height: 100px;
}

.partner-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.partner-logos img {
    width: 100%;
    height: auto;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.partner img {
    max-width: 90%; 
    height: auto; 
    margin-bottom: 10px;
}

details {
    margin-top: 10px;
    text-align: left;
}

summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}


@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


svg text {
     animation: stroke 8s  ;  /* para deixar em loop " infinite alternate " */
	stroke-width: 2;
	stroke: rgba(0,0,43,1);;
	font-size: 60px;
}

@keyframes stroke {
	0%   {
		fill: rgba(0,0,43,0); stroke: rgba(0,0,43,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(0,0,43,0); stroke: rgba(0,0,43,1); }
	80%  {fill: rgba(0,0,43,0); stroke: rgba(0,0,43,1); stroke-width: 3; }
	100% {
		fill: rgba(0,0,43,1); stroke: rgba(40,78,115,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};



.service-options {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    margin-bottom: 20px; /* Espaço abaixo dos botões */
}

.service-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-bottom: 20px; /* Espaço abaixo dos botões */
}


.service-buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #00002B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.service-image {
    text-align: center; /* Centraliza a imagem horizontalmente */
}

.service-image img {
    max-width: 70px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#serviceImage {
    max-width: 50%; /* Garante que a imagem não ultrapasse seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaçamento extra abaixo da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    margin-top: 60px; /* Espaço acima da imagem */
}


